:root {
  --primary-color: #59756f;
  --secondary-color: #d68539;
  --tertiary-color: #fff;
  --error-color: #e74c3c;
  --success-color: #2ecc71;
  --text-color: #333;
  --subtext-color: #555;
  --shadow-color: rgba(0, 0, 0, 0.1);
}

/* Search Input */
.search-input {
  width: 99%;
  padding: 8px 12px;
  margin-bottom: 16px;
  border: 1px solid var(--shadow-color);
  border-radius: 4px;
  font-size: 16px;
  color: var(--text-color);
  box-shadow: 0 2px 4px var(--shadow-color);
}

.admin-table-container {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  background-color: var(--tertiary-color);
  box-shadow: 0 4px 8px var(--shadow-color);
  border-radius: 8px;
}

.admin-table {
  width: 100%;
  border-collapse: collapse;
}

.admin-table th,
.admin-table td {
  border: 1px solid var(--shadow-color);
  padding: 12px;
  text-align: left;
  color: var(--text-color);
}

.admin-table th {
  background-color: var(--primary-color);
  color: var(--tertiary-color);
}

.admin-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.admin-table tr:hover {
  background-color: #f1f1f1;
}

h2 {
  text-align: center;
  color: var(--primary-color);
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  margin: 0 5px;
  padding: 8px 12px;
  border: none;
  background: var(--secondary-color);
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.pagination button:disabled {
  background: #ccc;
  cursor: not-allowed;
}

.pagination button:hover:not(:disabled) {
  background: var(--primary-color);
}

.pagination .active-page {
  border: 3px solid var(--subtext-color); /* Add border to current page */
}
