:root {
  --primary-color: #59756f;
  --secondary-color: #d68539;
  --tertiary-color: #fff;
}

.hero {
  display: flex;
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  /* height: 92vh; */
  height: 100vh;
  padding-inline: 30px;
}

.hero-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  /* align-items: center;
    text-align: center; 
    gap: 20px; */
}

.hero-title {
  font-size: 3rem;
  margin-bottom: 10px;
  word-spacing: 1%;
}

.hero-description {
  font-size: 1.2rem;
  max-width: 400px;
  margin-bottom: 20px;
}

.hero-image {
  flex: 1;
  background: url("/images/lms.png") center;
  background-size: 90%;
  background-repeat: no-repeat;
}
